@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --main-color:#2E36A1;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
}

.en{
    color: #222;
 }
 
 .es{
    color: var(--main-color);
 }
 
 .check{
    position: relative;
    width: 50px;
 }
 
 .check:before{
    content:'';
    position:absolute;
    width: 50px;
    height: 25px;
    background: #777;
    border-radius: 25px;
 }
 
 .check:after{
    content:'';
    position:absolute;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
 }
 
 .check:checked::after{
    left: 25px;
    border: 2px solid var(--main-color);
 }
 
 .check:checked::before{
    background-color: var(--main-color);
 }

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scroolbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

section{
    padding:5rem 10%;
}

@keyframes fadeIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
}

.heading{
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
}

.btn{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3;
    cursor: pointer;
}

.btn:hover{
    background: var(--main-color);
}

.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--main-color);
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

.home{
    padding: 0;
}

.home .slide{
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 60rem;
}

.home .slide .content{
    width: 85rem;
    display: none;
}

.home .swiper-slide-active .content{
    display: inline-block;
}

.home .slide .content span{
    display: block;
    font-size: 2.2rem;
    color: var(--light-white);
    padding-bottom: 1rem;
    animation:fadeIn .2s linear backwards .2s;
}

.home .slide .content h3{
    font-size: 6vm;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    animation:fadeIn .2s linear backwards .4s;
}

.home .slide .content .btn{
    animation:fadeIn .2s linear backwards .6s;
}

.home-packages .load-more{
    align-items: center;
}

.home .swiper-button-next,
.home .swiper-button-prev{
    top:inherit;
    left: inherit;
    bottom: 0;
    right: 0;
    height: 7rem;
    width: 7rem;
    background: -var(--white);
    color:var(--black);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
    background: var(--main-colo);
    color:var(--wite);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after{
    font-size: 2rem;
}

.home .swiper-button-prev{
    right: 7rem;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box{
    padding: 3rem 2 rem;
    text-align: center;
    background: var(--main-color);
    cursor: pointer;  
}

.services .box-container .box:hover{
    background: var(--black);
}

.services .box-container .box img{
    height: 7rem;
}

.services .box-container .box h3{
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 1rem;
}

.home-about{
    display: flex;
    align-items: justify;
    flex-wrap: wrap;
}

.home-about .image{
    flex:1 1 41rem;
}

.home-about .image img{
    width: 100%;
}

.home-about .content{
    flex:1 1 41rem;
    padding:3rem;
    background: var(--light-bg)
}

.home-about .content h3{
    font-size: 3rem;
    color:var(--black);
}

.home-about .content p{
    font-size: 1.5rem;
    padding:1rem 0;
    line-height: 2;
    color:var(--black);
}

.home-packages{
    background: var(--light-bg);
}

.home-packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
}

.home-packages .box-container .box{
    border:var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white)
}

home-packages .box-container .box:hover .image.img{
    transform: scale(1.1);
}

.home-packages .box-container .box .image{
    height: 25rem;
    overflow: hidden;
}

.home-packages .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.home-packages .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.home-packages .box-container .box .content h3{
    font-size: 2.5rem;
    color:var(--black)
}

.home-packages .box-container .box .content p{
    font-size: 1.5rem;
    color:var(--light-black);
    line-height: 2;
    padding:1rem 0;
}

.home-packages .load-more{
    text-align: center;
    margin-top: 2rem;
}

.home-offer{
    text-align: center;
}

.home-offer .content{
    max-width: 50rem;
    margin: 0 auto;
}

.home-offer .content h3{
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.home-offer .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}





  .about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
  };

  .about .image{
    flex: 1 1 41rem;
  }

  .services .about .content .image22{
    width: 50px;
    height: 250px;
  }
  
  .about .image22{
    flex: 1 1 41rem;
  }

  .about .image img{
    width: 250px;
    height: 250px;
  }

  .about .image22 img{
    width: 20%;
  }

  .about .content{
    flex: 1 1 41rem;
    text-align: center;
  }

  .about .content h3{
    font-size: 3rem;
    color: var(--black);
  }

  .about .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
  }

  .about .content .icons-cointainer{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end;
  }

  .about .content .icons-cointainer .icons{
    background: var(--light-bg);
    padding: 2rem;
    flex: 1 1 16rem;
  }

  .about .content .icons-cointainer .icons i{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--main-color);
  }

  .about .content .icons-cointainer .icons span{
    font-size: 1.5rem;
    color: var(--light-black);
    display: block;
  }

  .reviews{
    background: var(--light-bg);
  }

  .reviews .slide{
    padding: 2rem;
    border: var(--border);
    background: var(--white);
    text-align: center;
    box-shadow: var(--box-shadow);
    user-select: none;
  }

  .reviews .slide .stars{
    padding-bottom: .5rem;
  }

  .reviews .slide .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
  }

  .reviews .slide p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
  }

  .reviews .slide h3{
    font-size: 2rem;
    color: var(--black);
  }

  .reviews .slide span{
    font-size: 1.5rem;
    color: var(--main-color);
    display: block;
  }

  .reviews .slide img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-top: 1rem;
  }

.footer{
    background: url(../images/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box h3{
    color:var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a{
    color:var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}

.footer .box-container .box a i{
    color: var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color: var(--white);
}

.footer .credit span{
    color: var(--main-color);
}
















/* media queries */

@media (max-width:1200px){

    section{
        padding: 3rem 5%;
    }

}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }

    .home .slide .content h3{
        font-size: 10vw;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

.heading-title{
    font-size: 3.5rem;
}

.home-servicios{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-servicios .image{
    flex:1 1 41rem;
    border-radius: 25px;
}

.home-servicios .image img{
    width: 100%;
}

.home-servicios .content{
    flex:1 1 41rem;
    padding:3rem;
    background: var(--light-bg)
}

.home-servicios .content h3{
    font-size: 3rem;
    color:var(--black);
}

.home-servicios .content p{
    font-size: 1.5rem;
    padding:1rem 0;
    line-height: 2;
    color:var(--black);
}

.contador-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 25%;
    width: 220px;
    height: 20%;
    border-radius: 10px;
    background-color: var(--main-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    
}

.contador-estilo{
    display:flex;
    background-color: var(--main-color);
    color: #333;
    font-family: "Latio", sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
}

.counter {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 72px;
    color: #333;
}

button {
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
